alias vim=nvim
vimf() {
  FZF_DEFAULT_COMMAND='find . -type f -print'
  vim $(fzf)
}

vimff() {
  FZF_DEFAULT_COMMAND='find . -type f -print'
  timeout=$2
  [ ! -z "$timeout" ] || timeout=5
  echo "Will search for $timeout seconds"
  result=$(timeout $timeout fzf --filter "$1")
  if [ $? -eq 0 ] && [ ! -z "$result" ]; then
    firstMatch=$(echo $result | head -n1)
    vim "$firstMatch"
  else
    >&2 echo "No results."
  fi
}

mongodb() {
    /opt/homebrew/opt/mongodb-community/bin/mongod --config /opt/homebrew/etc/mongod.conf
}

export -f vimf &>/dev/null
export -f vimff &>/dev/null
alias vimconfig='vim ~/.config/nvim/init.vim'
alias vimconf=vimconfig
alias vimplugs='vim ~/.config/nvim/lua/plugins.lua'
alias zshconfig='vim ~/.zshrc'
alias zshconf=zshconfig
alias envconfig='vim ~/.zshenv'
alias envconf=envconfig

gitg() {
    msg=$1
    if [ -z $1 ]; then msg="Update"; fi
    git add -A
    git commit -m "$1"
}
export -f gitg &>/dev/null

gitgo() {
    gitg "$1"
    git push
}
export -f gitgo &>/dev/null 

alias tigs="tig status"
alias g=gitui
alias gu=gitui
alias conda-env='source ~/miniforge3/bin/activate'

# EXA (https://github.com/DarrinTisdale/zsh-aliases-exa)
# general use
alias ls='eza'                                                          # ls
alias l='eza -lbF --git'                                                # list, size, type, git
alias ll='eza -lbGF --git'                                              # long list
alias llm='eza -lbGd --git --sort=modified'                             # long list, modified date sort
alias la='eza -lbhHigUmuSa --time-style=long-iso --git --color-scale'   # all list
alias lx='eza -lbhHigUmuSa@ --time-style=long-iso --git --color-scale'  # all + extended list
# specialty views
alias lS='eza -1'                                                       # one column, just names
alias lt='eza --tree --level=2'                                         # tree
