alias vim=nvim
vimf() {
  FZF_DEFAULT_COMMAND='find . -type f -print'
  vim $(fzf)
}

vimff() {
  FZF_DEFAULT_COMMAND='find . -type f -print'
  timeout=$2
  [ ! -z "$timeout" ] || timeout=5
  echo "Will search for $timeout seconds"
  result=$(timeout 5 fzf --filter "$1")
  if [ $? -eq 0 ] && [ ! -z "$result" ]; then
    firstMatch=$(echo $result | head -n1)
    vim "$firstMatch"
  else
    >&2 echo "Find timed out"
  fi
}
export -f vimf &>/dev/null
export -f vimff &>/dev/null
alias zshconfig='vim ~/.zshrc'
